@model Sanatorium.Models.XiaoZuViewModel
@{
    ViewBag.Title = "项目小组信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles
{
    <!--pickers css-->
    @Styles.Render("~/Scripts/bootstrap-datepicker/css/datepicker-custom.css")
    @Styles.Render("~/Scripts/bootstrap-wysihtml5/bootstrap-wysihtml5.css")
}
<!-- page heading start-->
<div class="page-heading">
    <h3>
        项目小组信息
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">主页</a>
        </li>
        <li class="active"> 项目小组信息 </li>
    </ul>
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    项目小组信息
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="cmxform form-horizontal adminex-form" id="commentForm" method="post" action="/Admin/Sanatorium/EditXiaoZuInfo" novalidate="novalidate">
                            <h4>治安小组</h4>
                            <div class="form-group ">
                                <label for="ShiGongZhidu" class="control-label col-lg-2">负责人 </label>
                                <div class="col-lg-6">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.TextBoxFor(model => model.ZhiAnPrincipal, new { @class = "form-control", placeholder = "负责人" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="AnQuanZhiDu" class="control-label col-lg-2">负责人电话 </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.ZhiAnPrincipalPhone, new { @class = "form-control", placeholder = "负责人电话" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="Remark" class="control-label col-lg-2">小组成员</label>
                                <div class="col-lg-6">
                                    @Html.TextAreaFor(model => model.ZhiAnMembers, new { @class = "form-control", placeholder = "格式：姓名-电话" })
                                </div>
                            </div>
                            
                            <h4>消防小组</h4>
                            <div class="form-group ">
                                <label for="ShiGongZhidu" class="control-label col-lg-2">负责人 </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.XiaoFangPrincipal, new { @class = "form-control", placeholder = "负责人" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="AnQuanZhiDu" class="control-label col-lg-2">负责人电话 </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.XiaoFangPrincipalPhone, new { @class = "form-control", placeholder = "负责人电话" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="Remark" class="control-label col-lg-2">小组成员</label>
                                <div class="col-lg-6">
                                    @Html.TextAreaFor(model => model.XiaoFangMembers, new { @class = "form-control", placeholder = "格式：姓名-电话" })
                                </div>
                            </div>


                            <h4>应急小组</h4>
                            <div class="form-group ">
                                <label for="ShiGongZhidu" class="control-label col-lg-2">负责人 </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.YingJiPrincipal, new { @class = "form-control", placeholder = "负责人" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="AnQuanZhiDu" class="control-label col-lg-2">负责人电话 </label>
                                <div class="col-lg-6">
                                    @Html.TextBoxFor(model => model.YingJiPrincipalPhone, new { @class = "form-control", placeholder = "负责人电话" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="Remark" class="control-label col-lg-2">小组成员</label>
                                <div class="col-lg-6">
                                    @Html.TextAreaFor(model => model.YingJiMembers, new { @class = "form-control", placeholder = "格式：姓名-电话" })
                                </div>
                            </div>
                            
                            

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-6">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                    @Html.ActionLink("返回", "Index", "Sanatorium", new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>

@section scripts
{
    <!--pickers plugins-->
    @Scripts.Render("~/Scripts/bootstrap-datepicker/js/bootstrap-datepicker.js")
    <!--pickers initialization-->
    @Scripts.Render("~/Scripts/pickers-init.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/validation-init.js")
    @Scripts.Render("~/Scripts/bootstrap-wysihtml5/wysihtml5-0.3.0.js")
    @Scripts.Render("~/Scripts/bootstrap-wysihtml5/bootstrap-wysihtml5.js")

    <script>
    $(document).ready(function(){
            $(".custom-nav li").each(function(i,n){
                $(n).removeClass("nav-active");
                $(n).removeClass("active");
            });

            $('.nav_householder').addClass("nav-active");
            $(".subnav_addhouseholder").addClass("active");

            $('.wysihtml5').wysihtml5();
    });
    </script>
}

